body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: lavenderblush;
}

h1, h2 {
  color: black;
  text-align: center;
}

h3, h4 {
  font-weight: lighter;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 20px;
  background-color: pink;
  color: black;
  border: deeppink;
  margin: 0 5rem;
  text-align: center;

}

.container {
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
}

.image {
  width: 25rem;
  height: 20rem;
  border-radius: 70px;
}
